$cWhite: white;
$cBlack: rgb(37, 122, 233);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spinner {
  display: flex;
  width: 100vw;
  height: 90vh;
  justify-content: center;
  align-items: center;
  
  & div {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $cBlack;
    animation: sk-bouncedelay 1.4s infinite;
  }
  & .bounce1 {
    animation-delay: -0.32s;
  }
  & .bounce2 {
    animation-delay: -0.16s;
  }
}

@keyframes sk-bouncedelay {
  0% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }

  80% {
    transform: scale(0);
  }

  100% {
    transform: scale(0);
  }
}
