@import "../../stylesheet/sass/breakpoint";

.btn__container {
  display: none;
  @include breakpoint-down(medium) {
  }

  &__link {
    > span {
      font-weight: 500;
      font-size: 1.5rem;
    }
  }

  &__facebook {
    cursor: pointer;
    // font-family: Montserrat-SemiBold;

    font-size: 28px;
    line-height: 1.2;
    padding: 15px;
    width: calc((100% - 20px) / 2);
    height: 70px;
    border-radius: 10px;
    position: relative;
    z-index: 1;
    color: #fff;
    background-color: #3b5998;

    &:hover {
      background: linear-gradient(45deg, #00dbde, #fc00ff);
      border-color: #fc00ff;
    }

    @include breakpoint-down(medium) {
      margin-bottom: 2rem;
      width: 100%;
    }
  }
  &__google {
    cursor: pointer;
    font-family: Montserrat-SemiBold;
    font-size: 28px;
    line-height: 1.2;
    padding: 15px;
    width: calc((100% - 20px) / 2);
    height: 70px;
    border-radius: 10px;
    position: relative;
    z-index: 1;

    color: #555555;
    background-color: #fff;
    box-shadow: 0 1px 5px 0px rgba(0, 0, 0, 0.3);

    &:hover {
      background: linear-gradient(45deg, #00dbde, #fc00ff);
      color: #fff;
      transition: all ease-in-out;
    }
    @include breakpoint-down(medium) {
      width: 100%;
    }
  }
}
